<html>
    <head>
        <title>Foodie</title>
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <h1>Change password</h1>
        <div id="changediv">
           <form action="/changepass?_method=PUT" method="POST" onsubmit="return check()">
            <input type="password" name="password" id="password" placeholder="New password" required><br>
            <input type="password" id="retype-password" id="retype-password" placeholder="Retype new password" required><br>
            <input type="submit" value="Change password" id="submit">
           </form>
        </div>
    </body>
</html>