<html>
    <head>
        <title>Foodie</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
    </head>
    <body>
        <p>Thank you from purchasing from us.Your food will be delivered to you within 1-2 hours.</p>
        <p><a href="/" id="goback">Click here to go back to foods page.</a></p>  
    </body>
</html>